<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opHero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,54},{43,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>opHero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{39,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>opHero3.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{26,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{26,50}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>opHero4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{16,49}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{16,49}}</string>
                <key>sourceSize</key>
                <string>{36,59}</string>
            </dict>
            <key>opHero5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{33,52}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>opHero.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c81ce1ec313a838d299583402a18870$</string>
            <key>textureFileName</key>
            <string>opHero.png</string>
        </dict>
    </dict>
</plist>
